@import url('https://fonts.googleapis.com/css?family=Oswald:400,700&display=swap');

body{
    font-family: 'Oswald', sans-serif;
}
h1{
    text-align: center;
    text-decoration: underline;
}
#beer-section{
    max-width: 1200px;
    left: 0;
    right: 0;
    display: block;
    margin: auto;
}
.beer-card{
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
}
.beer-card h2{
    font-size: 24px;
    font-weight: 700;
    text-decoration: underline;
}
.beer-card img{
    width: 100px;
    height: auto;
}